<%- include("partials/head.ejs") %>
<body>
    <h1 class="title MainTitle">Texty.</h1>
    <div style="margin-left: 76px; margin-right: 76px; border: 4px dashed black; height: 512px;">
            <%= content %>
    </div>
    <a style="color: black; text-decoration: none;" href="/">
        <div style="margin-left: 76px;margin-top: 10px;height: 100px; width: 100px; background-color: #C1FF72; border-radius: 36px; border: 3px solid black;"><p style="text-align: center;">Back</p></div>
    </a>
</body>
</html>