h1{
    font-family: "amiri", serif;
    font-size: 75px;
}

h2{
    font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}
h3{
    font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}
p{
    font-family: "Advent Pro", sans-serif;
    font-size: 20px;
}
body{
    color: white;
    font-family: "Advent Pro", sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
    font-size: 20px;
    margin: 0;
}
button{
    font-family: "amiri", serif;
    border: none;
    border-radius: 38px;
    background-color: #D5BFB6;
    width: 282px;
}

#Mail{
    background-color: #FF3131;
}

#Contact, footer{
    font-family: "amiri", serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.Preview{
    width: 200px;
}

.Footer{
    background-color: #120B01;
    width: 100%;
    margin: 0;
}

#Presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    
}

.PtItem{
    margin: 0px;
}

#Introduction{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}

.IntItem{
    margin: 10px;
}
.IntItem img{
    margin-left: 200px;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}
.IntImage{
    grid-row: span 2;
}
.IntTitle{
    display: flex;
    align-items: end;
    margin-bottom: 0px;
}
.IntTitle h3{
    margin-bottom: 0px;
}
.IntText{
    display: flex;
    align-items: baseline;
    margin-top: 0px;
}

.IntText p{
    margin-top: 0px;
}

#Skills{
    margin-left: 200px;
    margin-top: 200px;
    

}
#Skills > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Projects{
    
    margin-top: 200px;
}
#Projects > h3{
    margin-left: 200px;
}

#Projects > div{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 0px;
}

#About{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AboutText{
    width: 600px;
}

.ContactContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#Contact{
    padding-left: 30px;
}
.Footer footer{
    padding-left: 30px;
}
