<%- include("partials/head.ejs") %>
<body>
    <h1 class="title MainTitle">Texty.</h1>
    <div style="margin-left: 76px; margin-right: 76px; border: 4px dashed black; height: 512px;">
            <%= content %>
    </div>
</body>
</html>