html{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
.image{
    border: 5px solid white;
    width: 100%;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    
}
