
<%- include('partials/head.ejs') %>


<body>
<%- include('partials/header.ejs') %>

<div>
    
   
        <h2 class="Subtitle">EXCHANGE RATES</h2>
    
   
</div>
<div class="StartContainer">
    <input class="Start" type="button" value="START NOW">
</div>




<%- include('partials/footer.ejs') %>
</body>
</html>